
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------------------------------------------------------------------*/

body{	
	font-size: 16px;
	color: #252B42;
	font-weight: 500;
	font-family: Montserrat;
	font-size: 14px;
	background: #FAFAFA;
}

/*-------------------------------------------------------------------------------------*/

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*-------------------------------------------------------------------------------------*/

._container{
	max-width: 1046px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

._ibg{
	position: relative;
}

._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*-----HEADER-------------------------------------------------------------------*/

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;	
}

@media (max-width: 479px){
	.header__container {		
		min-height: 70px;			
	}
}

.header__logo {		
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
	text-align: left;	
	color: inherit;
}
.header__menu {
	margin-left: 132px;
}

@media (max-width: 992px){
	.header__menu {
		margin-left: 80px;
	}
}

@media (max-width: 767px){
	.header__menu {
		margin-left: 40px;
	}
}

@media (max-width: 479px){
	.header__menu {
		margin-left: 20px;
	}
}

.menu {
	padding: 5px 0;
}

.menu_list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item {}

.menu__item:not(:last-child){
	margin-right: 21px;
}

.menu__link {
	font-size: 14px;
	font-weight: 600;
	line-height: 171%;
	letter-spacing: 0.2px;
	text-align: center;
	color: #737373;
}


@media (max-width: 479px){
	.menu__link {
		font-size: 18px;		
	}
	
}






/*--PAGE-------------------------------------------------------------------------------*/

.page {
	flex: 1 1 auto;
}

.page__mainblock {}


.page__services {
	position: relative;
	z-index: 2;
	margin-top: -111px;
}

.page__advantages {}

.page__practice {}






/*----HEADER-BLOCK---------------------------------------------------------------------*/

.header-block {
	text-align: center;	
}
.header-block__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #252B42;	
}

.header-block__title:not(:last-child){
	margin-bottom: 10px;
}

.header-block__subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;	
	letter-spacing: 0.2px;
	color: #737373;
}

@media (max-width: 992px){
	.header-block__title {		
		font-size: 35px;		
	}
}

@media (max-width: 767px){
	.header-block__title {		
		font-size: 30px;		
	}
}




/*----MAIN-BLOCK---------------------------------------------------------------------*/

.mainblock {
	position: relative;
}
.mainblock__container {}
._container {}

.mainblock__body {
	padding:184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 509px;
}

@media (max-width: 992px){
	.mainblock__body{
		padding:120px 0 191px 0;
	}
}

@media (max-width: 479px){
	.mainblock__body{
		padding:115px 0 160px 0;
	}
}

.mainblock__body > *:not(:last-child){
	margin-bottom: 35px;
}

.mainblock__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 138%;
	letter-spacing: 0.2px;
}

@media (max-width: 479px){
	.mainblock__title {
		font-size: 40px;
	}
}

.mainblock__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.2px;
	color: #737373;
	max-width: 376px;
}

@media (max-width: 479px){
	.mainblock__text{
		color: #4d4d4d;
	}
}

.mainblock__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.mainblock__button {	
	border-radius: 37px;
	display: flex;	
	min-height: 48px;
	align-items: center;
	justify-content: center;
	padding: 5px 36px;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.2px;
	margin: 10px 0;	
}

@media (max-width: 479px){
	.mainblock__button{
		flex: 1 1 100%;
	}
}

@media (min-width: 479px){
	.mainblock__button:not(:last-child){
		margin-right: 10px;
	}
}
.mainblock__button_orange {
	background: #FF7B47;
	color: #FFFFFF;	
}
.mainblock__button_border {
	color: #0D5C63;
	border: 1px solid #0D5C63;	
}

.mainblock__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px){
	.mainblock__image img{
		object-position: right;
	}
}

@media (max-width: 992px){
	.mainblock__image {
		opacity: 0.5;
	}
}




/*-----SERVICES---------------------------------------------------------------*/

.services {}
.services__container {}
.services__body {}

@media (min-width: 670px){
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;		
	}
}

.services__column {	
	flex: 0 1 33.333%;	
}

@media (min-width: 670px){
	.services__column{
		padding: 0 15px;
	}
}

@media (max-width: 992px){
	.services__column {
		flex: 0 1 50%;		
	}
	.services__column:last-child{
		flex: 1 1 100%;
	}
	.services__column:not(:last-child){
		margin-bottom: 30px;
	}	
}

.services__item {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.08);
	background: #FFFFFF;
	padding: 35px 40px;
	height: 100%;
}

@media (max-width: 479px){
	.services__item {
		padding: 20px 30px;
	}
}

.item-service > *:not(:last-child){
	margin-bottom: 10px;
}

.item-service_green{
	background: #0D5C63;	
}

.item-service_green .item-service__title{
	color: white;
}

.item-service_green .item-service__text{
	color: white;
}

.item-service__icon {}

.item-service__title {
	color: #252B42;
	font-weight: bold;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;	
}
.item-service__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}






/*----ADVANTAGES-----------------------------------------------------------------------*/

.advantages {
	padding: 80px 0;
}

@media (max-width: 992px){
	.advantages {
		padding: 50px 0;
	}
}

@media (max-width: 767px){
	.advantages {
		padding: 40px 0;
	}
}

.advantages__container {}

.advantages__header {
	margin-bottom: 50px;
}

@media (max-width: 767px){
	.advantages__header {
		margin-bottom: 25px;
	}
}

.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}

.advantages__column {
	padding: 0 15px;
	flex: 0 1 25%;
	margin-bottom: 30px;
}

@media (max-width: 1020px){
	.advantages__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 560px){
	.advantages__column {
		flex: 0 1 100%;
		margin-bottom: 20px;
	}
}

.advantages__item {
	background-color: #FFFFFF;
	text-align: center;
	padding: 30px;
	font-weight: bold;
}

.advantages__item > *:not(:last-child){
	margin-bottom: 10px;
}

.advantages__icon {
	margin-bottom: 10px;
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.advantages__value {
	
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #252B42;
}

.advantages__text {	
	font-size: 16px;
	line-height: 150%;	
	letter-spacing: 0.1px;
	color: #737373;
}



/*----PRACTICE------------------------------------------------------------------------*/


.practice {
	padding: 125px 0 80px 0;
}

@media (max-width: 993px){
	.practice {
		padding: 40px 0 80px 0;
	}
}

@media (max-width: 767px){
	.practice {
		padding: 0 0 40px 0;
	}
}

.practice__container {}

.practice__header {
	margin-bottom: 45px;
}

@media (max-width: 767px){
	.practice__header {
		margin-bottom: 25px;
	}
}

.practice__body {
	margin-bottom: 0 -20px -30px;
	display: flex;
	flex-wrap: wrap;
}

.practice__column {
	padding: 0 20px;
	margin-bottom: 30px;
	flex: 0 1 25%;
}

@media (max-width: 1040px){
	.practice__column {		
		flex: 0 1 50%;
	}
}

@media (max-width: 630px){
	.practice__column {		
		flex: 0 1 100%;
	}
}

.practice__item {}

.item-practice {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.item-practice__content{
	padding: 30px;
	flex: 1 1 auto;
}

.item-practice__link {		
	color: inherit;	
	display: inline-block;
}

.item-practice__link:hover{
	text-decoration: underline;
}

.item-practice__link:not(:last-child){
	margin-bottom: 15px;
}

.item-practice__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;	
}
.item-practice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;	
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}





/*----FOOTER------------------------------------------------------------------------*/

.footer {}